<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>new-user</title>
    <link rel="stylesheet" href="css/register.css" />
   
  </head>  
  <h1>Placement Helping Aid</h1>
  <body>
      
    <div class="main">
      <h1>ADD New User</h1>
      <%
        if(typeof message!=='undefined'){
      %>
      <p style="color:brown;"><%=message%></p> 
      <%
  }
 %>
      <form action="" method="post" enctype="multipart/form-data"required>
        <input type="name" name="name" placeholder="My Name" />
        <input type="email"name="email" placeholder="enter email"/>
        <input type="text" name="mob" placeholder="enter phone no"/>
        <input type="file"name="image"/>
        <input type="submit" class="submit" name="submit" value="Add User">

        </form>
        <a  align="center" href="/admin/dashboard">Back to dashboard</a>
    </div>
  </body>
</html>
