body {
  background: cornsilk;
  color: #514B64;
  min-height: 100vh;
}

code {
  background:#fff;
  padding: 0.2rem;
  border-radius: 0.2rem;
  margin: 0 0.3rem;
}
.panel-body{
    background-color:white!important;
  }
.form-gap {
    padding-top: 150px;
}
.navbar-brand
{

  font-size: 25px;
}