*{
    padding:0px;
    margin:0px;
    font-family: arial;
    box-sizing: border-box;
}
body{
    background-color: burlywood;
}
.box{
    width: 400px;
    height:auto;
    margin:0 auto;
    background-color: white;
}
.innerbox{
    padding: 20px;
}
.box h1,h2,h3,h4,h5,h6{
    text-align: centre;
    margin: 5px 0px;

}
input[type="text"],input[type="password"],input[type="submit"],input[type="email"]{
    width: 100%;
    padding:10px;
    margin:10px 0px;
}