@import url('https : //fonts.googleapis.com/css?family =Poppins :100,200,300,400,500,600,700,800,900 ');
*
{
    margin :0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap:wrap;
    background:burlywood; 
}
.box
{
    position:relative;
    width:200px;
    height:300px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#060c21;
    margin:40px;
}
.box:before{
    content:' ';
    position:absolute;
    top:-2px;
    left:-2px;
    right:-2px;
    bottom:-2px;
    background:#fff;
    z-index:-1;
    filter:blur(20px);
}

.box:after{
    content:' ';
    position:absolute;
    top:-2px;
    left:-2px;
    right:-2px;
    bottom:-2px;
    background:#fff;
    z-index:-2;
    filter:blur(50px);
}
.box:nth-child(1):before,
.box:nth-child(1):after
{background: linear-gradient(235deg,burlywood); 
}
.box:nth-child(2):before,
.box:nth-child(2):after
{
background: linear-gradient(235deg,#ff005e,#010615,#fbff00)  ;
}
.box:nth-child(3):before,
.box:nth-child(3):after
{
background: linear-gradient(235deg,#772aff,#010615,#2196F3);   
}
.box:nth-child(4):before,
.box:nth-child(4):after
{
background: linear-gradient(235deg,#fff,#010615,#fbff00)  ;
}
.box:nth-child(5):before,
.box:nth-child(5):after
{
background: linear-gradient(235deg,#ff005e,#010615,#fbff00)  ;
}
.box:nth-child(6):before,
.box:nth-child(6):after
{
background: linear-gradient(235deg,#c300ff,#011504,#ff3300)  ;
}
.box:nth-child(7):before,
.box:nth-child(7):after
{
background: linear-gradient(235deg,#ff005e,#010615,#fbff00)  ;
}
.box:nth-child(8):before,
.box:nth-child(8):after
{
background: linear-gradient(235deg,#fff,#010615,#fbff00)  ;
}
  .box .glass
  {
      position: absolute;
      top:0;
      left:0;
      width:50%;
      height:100%;
      display:block;
      background :rgba(255,255,255,.1);
      pointer-events:none;
  }
  .box .content{
      padding:20px;
      color:#fff; 
       
  }